<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settle-Aid</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"
    />
  </head>
  <body class="bg-gray-100">
    <header class="bg-blue-500 text-white p-6">
      <h1 class="text-2xl font-bold">Settle-Aid</h1>
    </header>

    <nav class="flex justify-between p-6 bg-white shadow-md">
      <button
        class="bg-green-500 text-white py-2 px-4 rounded"
        hx-get="/ui/login/"
        hx-swap="delete"
        hx-target="#authContainer"
        onclick="clearPage(); "
      >
        Login
      </button>

      <button
        class="bg-blue-500 text-white py-2 px-4 rounded"
        hx-get="/ui/prompts_input/"
        hx-swap="innerHTML"
        hx-target="#mapContainer"
        onclick="clearPage(); "
      >
        Plan Route
      </button>

      <button
        class="bg-blue-500 text-white py-2 px-4 rounded"
        hx-get="/ui/feed/?query_type=top_routes"
        hx-swap="innerHTML"
        hx-target="#routesContainer"
        hx-vars="query_type:'top_routes'"
        onclick="clearPage(); updateQueryType('top_routes')"
      >
        Global Feed
      </button>
      <button
        class="bg-blue-500 text-white py-2 px-4 rounded"
        hx-get="/ui/feed/?query_type=user_routes"
        hx-swap="innerHTML"
        hx-target="#routesContainer"
        hx-vars="query_type:'user_routes'"
        onclick="clearPage(); updateQueryType('user_routes')"
      >
        User Routes
      </button>
      <button
        class="bg-blue-500 text-white py-2 px-4 rounded"
        hx-get="/ui/feed/?query_type=user_routes_fav"
        hx-swap="innerHTML"
        hx-target="#routesContainer"
        hx-vars="query_type:'user_routes_fav'"
        onclick="clearPage(); updateQueryType('user_routes_fav')"
      >
        User Own's Favourites
      </button>
      <button
        class="bg-blue-500 text-white py-2 px-4 rounded"
        hx-get="/ui/feed/?query_type=user_feed_fav"
        hx-swap="innerHTML"
        hx-target="#routesContainer"
        hx-vars="query_type:'user_feed_fav'"
        onclick="clearPage(); updateQueryType('user_feed_fav')"
      >
        User Favourites
      </button>
    </nav>

    <main id="mainContent" class="p-6">
      <div id="authContainer" class="mb-4">
        <!-- Login form will be loaded here -->
      </div>

      <div id="mapContainer" class="sticky top-0 z-50 mb-4">
        <!-- Map will be loaded here -->
      </div>

      <div id="routesContainer" class="mb-4">
        <!-- Routes will be loaded here -->
      </div>
      <!-- {% block content %}{% endblock %} -->
    </main>
  </body>
  <script>
    function clearPage() {
      document.getElementById("authContainer").innerHTML = "";
      document.getElementById("routesContainer").innerHTML = "";
      document.getElementById("mapContainer").innerHTML = "";
    }

    let currentQueryType = "top_routes"; // default value

    function updateQueryType(queryType) {
      currentQueryType = queryType;
    }
  </script>
</html>
