<body id="mapContainer" class="bg-gray-100 p-6">
  <div class="bg-white p-4 rounded-md shadow-md">
    <div class="mb-4">
      <h2 class="text-xl font-semibold mb-2">
        Tell us more about your preferences
      </h2>
      <!-- Activity Options -->
      <div class="grid grid-cols-2 gap-4">
        <div class="flex flex-col items-center">
          <div class="mb-2">Shopping</div>
          <label class="flex flex-col items-center">
            <span class="text-green-500 mb-1">Like</span>
            <input
              id="shopping"
              type="text"
              placeholder="Shopping"
              class="border border-green-500 p-2 rounded-md text-center w-4/5"
            />
          </label>
          <label class="flex flex-col items-center">
            <span class="text-red-500 mb-1">Dislike</span>
            <input
              id="shoppingNeg"
              type="text"
              placeholder="Shopping"
              class="border border-red-500 p-2 rounded-md text-center w-4/5"
            />
          </label>
        </div>
        <div class="flex flex-col items-center">
          <div class="mb-2">Dining</div>
          <label class="flex flex-col items-center">
            <span class="text-green-500 mb-1">Like</span>
            <input
              id="dining"
              type="text"
              placeholder="Dining"
              class="border border-green-500 p-2 rounded-md text-center w-4/5"
            />
          </label>
          <label class="flex flex-col items-center">
            <span class="text-red-500 mb-1">Dislike</span>
            <input
              id="diningNeg"
              type="text"
              placeholder="Dining"
              class="border border-red-500 p-2 rounded-md text-center w-4/5"
            />
          </label>
        </div>
        <div class="flex flex-col items-center">
          <div class="mb-2">Travelling</div>
          <label class="flex flex-col items-center">
            <span class="text-green-500 mb-1">Like</span>
            <input
              id="travelling"
              type="text"
              placeholder="Travelling"
              class="border border-green-500 p-2 rounded-md text-center w-4/5"
            />
          </label>
          <label class="flex flex-col items-center">
            <span class="text-red-500 mb-1">Dislike</span>
            <input
              id="travellingNeg"
              type="text"
              placeholder="Travelling"
              class="border border-red-500 p-2 rounded-md text-center w-4/5"
            />
          </label>
        </div>
        <div class="flex flex-col items-center">
          <div class="mb-2">Health</div>
          <label class="flex flex-col items-center">
            <span class="text-green-500 mb-1">Like</span>
            <input
              id="health"
              type="text"
              placeholder="Health"
              class="border border-green-500 p-2 rounded-md text-center w-4/5"
            />
          </label>
          <label class="flex flex-col items-center">
            <span class="text-red-500 mb-1">Dislike</span>
            <input
              id="healthNeg"
              type="text"
              placeholder="Health"
              class="border border-red-500 p-2 rounded-md text-center w-4/5"
            />
          </label>
        </div>
    </div>
    <div class="mt-4"> <!-- new div for margin-top -->
      <button
        class="bg-blue-500 text-white py-2 px-6 rounded mx-auto block"
        hx-post="/ui/search/map/"
        hx-swap="innerHTML"
        hx-target="#mapContent"
        hx-ext="json-enc"
        hx-vals='js:{
          ...buildQueryAndLocationType(),
          "longitude": 144.9549,
          "latitude": -37.81803,
          "distance_threshold": 1000,
          "similarity_threshold": 0,
          "negative_similarity_threshold": 0,
          "route_type": "walking"
      }'
        onclick="addCloseButton();"
      >
        Plan Route
      </button>
    </div>
  </div>
</body>
